@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --background: rgb(8, 8, 8);
    --color-text: #fff;
    cursor: url(../img/cursor/cursor.png) 10 10, auto;
}

::-webkit-scrollbar {
    display: none;
}

body{
    background-color: var(--background);
    font-family: 'Be Vietnam Pro', sans-serif;
    overflow-x: hidden;
}

/* //////SCREEN-1 */
.banner{
    height: 100vh;
    color: var(--color-text);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-color: var(--background);
    overflow: hidden;
    /* border: solid red; */
}
.header{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 10vh;
    overflow: hidden;
    align-items: center;
    font-size: 10pt;
    z-index: 100;
}
.logo{
    width: 30%;
}
.logo p{
    position: relative;
    left: 2vw;
    cursor: pointer;
}
.animation-header{
    text-align: center;
    width: 40%;
    display: flex;
    justify-content: center;
}
.content-animation-header{
    width: 60%;
    height: 25pt;
    padding: 5px 10px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    border: solid white;
}
.content-animation-header p{
    position: absolute;
    margin: auto auto;
    animation: translate 2s infinite;
    white-space: nowrap;
    min-width: 100%;
    height: 100%;
}
.content-animation-header p .slide{
    display: inline-block;
    padding-left: 100%;
    text-align: center;
    white-space: nowrap;
    height: 100%;
    line-height: 0pt;
    animation: slide 10s linear infinite;
}

.slide-2{
    animation-delay: 5s !important;
}
.menu{
    width: 30%;
    display: flex;
    justify-content: end;
    padding-right: 3vw;
}
.menu i{
    font-size: 15pt;
    cursor: pointer;
}
.menu ul{
    display: flex;
    justify-content: end;
    position: relative;
    right: 2vw;
}
li{
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
}
.content-banner{
    display: flex;
    width: 100vw;
    height: 90vh;
}
.text-banner{
    width: 50vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;
}
.text-banner h1{
    width: 70%;
    font-size: 45pt;
    font-weight: 400;
    z-index: 500;
}
.text-banner h1 span{
    font-weight: 800;
}
.model-viewer{
    width: 50vw;
    height: 90vh;
    background-color: var(--background);
    display: flex;
    align-items: center;
    position: relative;
}
.black-screen{
    position: absolute;
    width: 50vw;
    height: 90vh;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 2s ease all;
}
.black-index{
    z-index: 100;
    opacity: 1;
}
.opacity-model-viewer{
    opacity: 1;
}
model-viewer{
    width: 50vw;
    height: 80vh;
    z-index: 10;
}

.text-banner{
    width: 50vw;
    height: 100vh;
    position: relative;
}

.text-banner .rss{
    position: absolute;
    bottom: 3vh;
    left: 2vh;
}
.text-banner .rss ul{
    display: flex;
}
.text-banner .rss ul li{
    cursor: pointer;
    font-size: 10pt;
}
.about-me{
    position: absolute;
    width: 30vw;
    text-align: end;
    left: 100vw;
    top: 40vh;
}

.about-me h1{
    font-size: 15pt;
    font-weight: 400;
}
.about-me span{
    font-size: 18pt;
    font-weight: 600;
    text-decoration: underline;
    line-height: 50px;
}

.about-me-2{
    position: absolute;
    width: 25vw;
    text-align: end;
    left: 150vw;
    top: 25vh;
    text-align: justify;
    font-size: 10pt;
}
.rss{
    z-index: 20;
}





/* //////SCREEN-2 */
.sub-banner{
    width: 100%;
    height: 400px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    /* border: solid blue; */
}
.sub-banner h1{
    color: var(--color-text);
    font-size: 80pt;
    width: 100%;
    white-space: nowrap;
}
.sub-banner h1 span{
    color: var(--background);
    -webkit-text-stroke: 1px white;
}







/* //////SCREENS-APPS */
.portafolio{
    overflow: visible;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    flex-direction: column;
    /* border: salmon solid; */
}
.projects-title-1,.projects-title-3{
    margin-left: -200vw;
}
.app{
    width: 100vw;
    min-height: 100vh;
    color: var(--color-text);
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: solid beige; */
    align-items: flex-start;
}
.app .content{
    width: 100%;
    height: 100vh;
    display: flex;
    /* border: solid greenyellow; */
}

.app .content .model-3d{
    width: 30vw;
    /* border: solid blueviolet; */
}
.app .content .model-3d model-viewer{
    height: 100%;
    width: 30vw;
    /* border: gold solid; */
}

.app .content .cards{
    width: 70vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid blueviolet; */
}
.app .content .cards .card-portafolio-app{
    overflow: hidden;
    max-width: 220px;
    overflow: hidden;
}
.app .content .cards .card-portafolio-app img{
    border-radius: 10px;
    max-width: 200px;
    height: 100%;
    margin: 10px;
}

.app .content .cards .card-portafolio-web-slide{
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    max-width: 450px;
    max-height: 300px;
    overflow: scroll;
    /* border: solid goldenrod; */
}
.app .content .cards .card-portafolio-web-slide img{
    border-radius: 10px;
    max-width: 450px;
}
































@keyframes slide {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-100%,0);
    }
}



@media (max-width: 620px) { 
    .content-banner{
        flex-direction: column;
        text-align: center;
    }
    .text-banner{
        width: 100vw;
        height: 45vh;
    }
    .text-banner h1{
        width: 90%;
        font-size: 30pt;
        margin-top: 10vh;
    }
    .model-viewer{
        width: 100vw;
        height: 45vh;
        display: flex;
        justify-content: center;
    }
    model-viewer{
        width: 100vw;
        height: 40vh;
    }
    .rss{
        margin-bottom: -55vh;
    }
    .text-banner .rss ul li {
        font-size: 8pt;
    }
    .black-screen{
        width: 100vw;
        height: 45vh;
        background-color: var(--background);
    }
    .logo p{
        left: 5vw;
    }
    .menu{
        padding-right: 5vw;
    }
    .header{
        font-size: 8pt;
    }
}


